.documents-filter {
  padding: 10px 0;
  border-radius: 5px;
}

.izi-table .ant-table-body {
  margin: 0 !important;
}

.izi-table .ant-table-tbody {
  background-color: #fff;
}

.ant-btn.submit-btn {
  background-color: #219653 !important;
  color: white !important;
  border-color: transparent;

  &:hover {
    border-color: #219653;
  }

  &:disabled {
    opacity: .5;
  }
}

.ant-btn.decline-btn {
  background-color: #000 !important;
  color: white !important;

  &:hover {
    border-color: #000;
  }

  &:disabled {
    opacity: .5;
  }
}

.ant-btn.error-btn {
  background-color: #ED1B23 !important;
  color: white !important;

  &:hover {
    border-color: #000;
  }

  &:disabled {
    opacity: .5;
  }
}

.izi-desc {
  & .ant-descriptions-item-label {
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 22px !important;
  }

  & .ant-descriptions-item-content {
    font-size: 14px !important;
    line-height: 22px !important;
  }
}

.header {
  display: flex;
  padding: 0 24px !important;
  align-items: center;
  justify-content: flex-end;
}