.assigner {
  width: 100%;

  & thead {
    tr {
      font-weight: bold;
      height: 40px;
      background-color: white;
      border: 1px #E5E5E5 solid;

      & td {
        padding: 0 14px;

        &:last-child {
          width: 24px;
          text-align: right;
        }
      }
    }
  }

  & tbody {
    tr {
      height: 40px;
      background-color: white;
      border: 1px #E5E5E5 solid;

      & td {
        padding: 0 14px;
      }

      &.brand td {
        padding: 0 14px;

        &:first-child {
          cursor: pointer;
          width: 400px;
          font-weight: bold;
        }
      }

      &.department td:first-child {
        padding: 0 14px 0 28px;
        cursor: pointer;
      }

      &.category td:first-child {
        padding: 0 14px 0 42px;
      }
    }
  }
}

table.submit {
  width: 100%;

  & thead {
    tr {
      font-weight: bold;
      height: 40px;
      background-color: white;
      border: 1px #E5E5E5 solid;

      & td {
        padding: 0 14px;

        &:last-child {
          width: 24px;
          text-align: right;
        }
      }
    }
  }

  & tbody {
    tr {
      height: 40px;
      background-color: white;
      border: 1px #E5E5E5 solid;

      & td {
        padding: 0 14px;

        &:last-child {
          text-align: right
        }
      }
    }
  }
}

table.submit__brands {
  width: 100%;

  & tbody {
    tr {
      border: none;
      height: 40px;
      background-color: white;

      & td {
        padding: 0;

        &:first-child {
          text-align: left;
          font-weight: bold;
        }
      }
    }
  }
}

.submit__button {
  width: 100%;
  background-color: #2F80ED !important;
  color: white !important;
  box-shadow: 0px 2px 4px rgba(47, 128, 237, 0.31) !important;
  height: 35px !important;

  &:hover {
    box-shadow: none !important;
    border: none !important;
  }

  &:disabled {
    opacity: 0.5;
  }
}