.check {
  text-align: left;
  padding: 15px;

  &__merchant {
    &__name {
      display: block;
      font-weight: bold;
      font-size: 16px;
    }

    &__address {
      display: block;
      font-size: 13px;
      margin-bottom: 5px;
    }

    &__date {
      display: block;
    }

    &__site {
      display: block;
      font-size: 13px;
    }
  }

  &__contact {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  &__summary {
    padding: 10px;

    &__items {
      //border: 1px black solid;
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px gray solid;

      &:first-child {
        border-top: 1px gray solid;
      }

      &__name {
        font-size: 16px;
        font-weight: 700;
      }

      &__price {
        font-size: 14px;
        font-weight: 700;
      }
    }

    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px gray solid;

      &__title {
        font-size: 22px;
        font-weight: 700;
      }

      &__amount {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }

  &__order {
    &__number {
      text-transform: uppercase;
      background-color: #CFCFCF;
      padding: 10px;
      margin: 10px 0;
      font-weight: bold;
      color: #000;
    }

    &__info {
      width: 100%;
      border: 1px black solid;

      & > tr {
        border: 1px black solid;
      }

      & > tr > td {
        border: 1px black solid;
        padding: 10px;
      }
    }

    &__items {
      width: 100%;

      & > thead {
        font-weight: bold;

        & > tr > th:last-child {
          text-align: right;
        }
      }

      & > tbody {
        font-weight: bold;

        & > tr > td:last-child {
          text-align: right;
        }
      }
    }

    &__total {
      width: 100%;

      & > thead {
        font-weight: bold;
      }

      & > tbody {
        & > tr {
          & > td {
            &:first-child {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  &__payment {
    &__number {
      text-transform: uppercase;
      background-color: #CFCFCF;
      padding: 10px;
      margin: 10px 0;
    }

    &__info {
      width: 100%;
      border: 1px black solid;

      & > tr {
        border: 1px black solid;
      }

      & > tr > td {
        border: 1px black solid;
        padding: 10px;
      }
    }

    &__items {
      width: 100%;

      & > thead {
        font-weight: bold;

        & > tr > th:last-child {
          text-align: right;
        }
      }

      & > tbody {
        font-weight: bold;

        & > tr > td:last-child {
          text-align: right;
        }
      }
    }

    &__total {
      width: 100%;

      & > thead {
        font-weight: bold;
      }

      & > tbody {
        & > tr {
          & > td {
            &:first-child {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}