.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > img {
    margin-bottom: 2.5rem;
  }
}

.login-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(#ac17e3, 0.8);
  padding: 15px;
}

.login-form {
  &:before{
    content: '';
    position: absolute;
    top: -100px;
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  position: relative;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
}