@import '~antd/dist/antd.css';
@import 'app';
@import 'login';
@import 'assigner';
@import 'check';
@import 'slider.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.logo {
  height: 32px;
  margin: 18px 0 10px 24px;
}


.base-table {
  width: 100%;

  & > thead {
    border-bottom: 1px #BFBFBF solid;

    & > tr {
      & > td {
        padding: 6px;
        font-weight: bold;
      }
    }
  }

  & > tbody {
    & > tr {
      & > td {
        padding: 6px;
      }
    }
  }
}

.refund-details {
  background-color: white !important;
  padding: 10px;
}

.return-check__brief {
  width: 100%;

  & tbody {
    & tr {
      & td {
        &:first-child {
          font-size: 14px;
          line-height: 22px;
        }

        &:last-child {
          text-align: right;
          color: #ED1B23;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

.return-check__items {
  width: 100%;

  & thead {
    & tr {
      & th {
        padding: 16px 14px;
        white-space: nowrap;
      }
    }
  }

  & tbody {
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;

    & tr {
      & td {
        padding: 16px 14px;
      }
    }
  }
}

.return-check {
  padding: 16px;
}

.return-check__total {
  padding: 14px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid #BFBFBF;
}

.return-check__footer {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.language-selection {
  button {
    border: none;
    background: none;
    color: #000;

    &:first-child {
      border-right: 1px solid #000;
    }

    &.active {
      color: #ED1B23;
    }
  }
}

.page-wrapper {
  background: #fff;
  padding: 24px;
  height: calc(100% - 170px);
  overflow: auto;
}
.page-wrapper--small {
  padding-top: 0;
  height: calc(100% - 78px);
}
.page-wrapper--mid {
  height: calc(100% - 118px);
}
.page-wrapper--large {
  padding-top: 0;
  height: calc(100% - 218px);
}
.page-wrapper--xlarge {
  padding-top: 0;
  height: calc(100% - 268px);
}

.page-wrapper--xxlarge {
  padding-top: 0;
  height: calc(100% - 305px);
}

.editable-cell-value-wrap{
  cursor: pointer;
}

td.ant-table-cell {
  font-size: 12px !important;
}